h1{
    margin-left: 42%;
    color: blue;
  }
  a{
    text-decoration: none;
  }
   .wrapper{
     width: 400px;
     max-width: 90%;
     margin: 0 auto;
   }
  .wrapper label{
    display:block;
    margin:0.5em 0 ;
  }
   
  .wrapper label input{
    font-size: 18px;
    padding: 0.5em;
    width: 100%;
    border-radius: 5px;
  }
  
  .wrapper button[type="submit"]{
    font-size: 25px;
    background-color: green;
    margin-left: 43%;
    color:white;
    border-radius: 4px;
    padding: 6px;
  }
  button[type=submit]:hover{
    background-color:#003314 ;
  }

  #r_message{
    background-color:  #00FF00;
     text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
  }
  